<ion-content [fullscreen]="true">
  <ion-img src="/assets/logo-anpede.png"></ion-img>
  <p>sistema de empréstimos de equipamentos de mobilidade e solicitação de fraudas</p>
  <form>
    <ion-item>
      <ion-label position="floating">
        Usuário
      </ion-label>
      <ion-input type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Senha
      </ion-label>
      <ion-input type="password">
      </ion-input>
    </ion-item>
    <ion-button expand="block">Acessar</ion-button>
    <ion-button expand="block" fill="outline">Registrar</ion-button>
  </form>
</ion-content>