<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>add-associado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-item lines="none">
      <ion-label position="floating">NOME</ion-label>
      <ion-input type="text" placeholder="NOME"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">CPF</ion-label>
      <ion-input type="text" placeholder="CPF"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Data de Nascimento</ion-label>
      <ion-input type="text" placeholder="Data de Nascimento"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="text" placeholder="Telefone"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Endereço</ion-label>
      <ion-input type="text" placeholder="Endereço"></ion-input>
    </ion-item>
  </form>
<ion-button shape="round" expand="block">
  Adicionar
</ion-button>
  <!-- nome, pf, dataNascimento, telefone, email, edereco -->
</ion-content>